<%- include('header.ejs') %>
    <div class="home">
        <div class="pmain">
            <div class="pmain1">
                <img src="/header_pic/<%= result[0].headerpic %>" alt="header_pic" />
            </div>
            <div class="pmain2">
                <div><img src="/profile_pic/<%= result[0].profilepic %>" alt="profile_pic" /></div>
            </div>
        </div>

        <div class="profile_content">
            <div class="contentName">
                <%= result[0].fname %>
                    <%= result[0].mname %>
                        <%= result[0].lname %>
            </div>
            <div class="contentUname">@<%= result[0].username %>
            </div>
            <div class="contentJoining"><i class="fa-solid fa-calendar-days"></i> Joined <%=
                    month[result[0].dor.getMonth()] %>,<%= result[0].dor.getFullYear() %>
            </div>
        </div>

        <div class="followORfollowing">
            <button class="Pfollow"><i class="fa-solid fa-users"></i>&nbsp;&nbsp;Followers</button>
            <button class="Pfollowing"><i class="fa-solid fa-user-plus"></i>&nbsp;&nbsp;Following</button>


            <div class="Pcontent">
                <% for(var i=0;i<follower.length;i++){ %>
                    <form action="/remove_follower" method="post">
                        <input type="hidden" name="followerId" value="<%= follower[i].uid %>">
                        <div class="followbox">
                            <div class="followbox1 leftTweet">
                                <div class="followbox11">
                                    <img src="/profile_pic/<%= follower[i].profilepic %>" alt="profile_pic" />
                                </div>
                                <div class="followbox12">
                                    <div class="followbox21">
                                        <%= follower[i].fname %>
                                            <%= follower[i].mname %>
                                                <%= follower[i].lname %>
                                    </div>
                                    <div class="followbox22">@<%= follower[i].username %>
                                    </div>
                                </div>
                            </div>
                            <div class="followbox2">
                                <button type="submit" class="followButton">Remove</button>
                            </div>
                        </div>
                    </form>
                    <% } %>
            </div>
            <div class="Pcontent2">
                <% for(var i=0;i<following.length;i++){ %>
                    <form action="/unfollow_user" method="post">
                        <input type="hidden" name="followingId" value="<%= following[i].uid %>">
                        <div class="followbox">
                            <div class="followbox1 leftTweet">
                                <div class="followbox11">
                                    <img src="/profile_pic/<%= following[i].profilepic %>" alt="profile_pic" />
                                </div>
                                <div class="followbox12">
                                    <div class="followbox21">
                                        <%= following[i].fname %>
                                            <%= following[i].mname %>
                                                <%= following[i].lname %>
                                    </div>
                                    <div class="followbox22">@<%= following[i].username %>
                                    </div>
                                </div>
                            </div>
                            <div class="followbox2">
                                <button type="submit" class="followButton">Unfollow</button>
                            </div>
                        </div>
                    </form>
                    <% } %>
            </div>



        </div>
    </div>
    <div class="tags">
        <h3>Trending Tags</h3>
        <% for(var i=0;i<tags.length;i++){ %>
            <div class="tag">
                <div class="tag2">
                    <%= tags[i].tagname%>
                </div>
                <div class="tag3">
                    <%= tags[i].tag_count%> Tweets
                </div>
            </div>
            <% } %>
    </div>
    </div>
    </body>
    <script>
        document.querySelector('.Pfollow').addEventListener('click', () => {
            document.querySelector('.Pcontent').style.display = 'block';
            document.querySelector('.Pcontent2').style.display = 'none';
        });

        document.querySelector('.Pfollowing').addEventListener('click', () => {
            document.querySelector('.Pcontent2').style.display = 'block';
            document.querySelector('.Pcontent').style.display = 'none';
        });

    </script>
</html>